/* p::first-line{
    background-color: red;
} */
/* .desp::before{
    content: '';
    width: 10px;
    height: 10px;
    background-color: greenyellow;
    display: inline-block;
}
.desp::after{
    content: '';
    width: 10px;
    height: 10px;
    background-color:purple;
    display: inline-block;
} */
